.frame
{
	width : 420px;
	font-family : Verdana;
	background-color : #EEEEEE;
	border-radius : 5px 5px 5px 5px;
	color: #01224a;
	padding-bottom : 5px;
}

#motor
{
	padding : 15px; 
	padding-top : 0;
}

.calc-form
{
	margin : 0;
}

.title
{
	background-color : #005398;
	height : 50px; 
	border-radius : 5px 5px 0px 0px; 
	text-align : center;	
}

.title h1
{
	font-weight: bold; 
	font-size : 20px;
	color : white;
	margin : 0;
	padding-top : 12px;
}

#motor h3
{
	font-size : 16px;
	margin : 0;
	margin-top : 15px;
}

#motor h4
{
	font-weight : normal;
	width : 150px;
	margin-top : 10px;
	margin-bottom : 0;
}

.year_div
{
	float : left;
}

.month_div
{
	margin-left : 168px;
}

.date
{
	width : 70px;
}


.barrel_m
{
	width : 168px;
}

.submit
{
	text-align : center;
}

.form-submit
{
	width : 100px;
	height : 30px;
}

.invisible
{
	display : none;
}

#sum
{
	
	padding-top : 10px; 
	text-align : center;
}

#sum h4
{
	font-weight : normal;
	font-size : 16px;
	margin : 10px;
}

#sum h5
{
	font-weight : normal;
	font-size : 14px;
	margin : 0;
}

#error
{
	color: red;
	text-align : center;
}

#error h3
{
	font-weight : normal;
	margin-top : 5px;
}
